<div class="employee-details-container">
    <h2>Angular Application Development</h2>
   
    <div class="employee-card">
      <h3>Employee details</h3>
      <p><strong>Employee Code --</strong> {{ employee.code }}</p>
      <p><strong>Employee Name --</strong> {{ employee.name }}</p>
      <p><strong>Gender --</strong> {{ employee.gender }}</p>
      <p><strong>Company --</strong> {{ employee.company }}</p>
    </div>
  </div>

  <!-- <fieldset style="border: 2px solid black;">
    <legend>hiii</legend>
</fieldset> -->


  
  