<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,th,td {
        border: 1px solid black;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    div{
        text-align: center;
    }
</style>
<body>
    <h1>
        sec_com_dem
    </h1>
    <table style="width: 70%;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>price</th>
        </tr>
        <tr>
            <td>{{p1.pid}}</td>
            <td>{{p1.pname}}</td>
            <td>{{p1.price}}</td>
        
        </tr>
    </table>

{{message}}

{{product.displaydata2()}}
</body>
</html>