<p class="font3">body works!</p>
<table border="2" class="font1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>{{products[0].prodId}}</td>
        <td>{{products[0].prodName}}</td>
        <td>{{products[0].price}}</td>
    </tr>
    <tr>
        <td>{{products[1].prodId}}</td>
        <td>{{products[1].prodName}}</td>
        <td>{{products[1].price}}</td>
    </tr>
    <tr>
        <td>{{products[2].prodId}}</td>
        <td>{{products[2].prodName}}</td>
        <td>{{products[2].price}}</td>
    </tr>
</table>
