.font1{
	font-family: verdana;
	font-size: 30px;
	font-style: italic;
}
.font2{
	font-family: verdana;
	font-size: 25px;
	font-style: italic;
}
.font3{
	font-family: verdana;
	font-size: 20px;
	font-style: italic;
}
