<h1>Welcome to My Angular App</h1>
<router-outlet></router-outlet>
<!-- 


<app-first-component></app-first-component>
<app-sec-com-demo></app-sec-com-demo>
<app-pipedemo></app-pipedemo> -->
<!-- <app-event-binding-demo></app-event-binding-demo>
<app-parent></app-parent>
<app-directivedemo></app-directivedemo>
<app-customeventparent></app-customeventparent> -->

<app-template-driven></app-template-driven>

<app-rective-form></app-rective-form>
<app-test-hello></app-test-hello>
<app-templatevalidate></app-templatevalidate>
<app-reactivevalidate></app-reactivevalidate>